
$mobileScreen: 639px;
$tabletScreen: 860px;
$desktopScreen: 1200px;

$defaultTextColor: #181818;
$blackColor: #000;
$grayColor: #c5c5c5;
$blueColor: #48bcff;
$secondaryBlueColor: #3b51d1;
$whiteColor: #FFF;
$redColor: #FA0606;

$gradient: linear-gradient(90deg, rgba(27,177,71,1) 10.22%, rgba(1,142,213,1) 104.68%);
$gradientBorder: linear-gradient(90deg, rgba(27,177,71,1) 10.22%, rgba(1,142,213,1) 104.68%) 30;

$sidePaddingDesktop: 27px;
